<section class="catalog section" id="catalog">
  <div class="catalog__wrap container">
    <h2 class="catalog__title">Catalog</h2>
    <ul class="catalog__menu">
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x.png 2x"
            src="./img/catalog/image.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Tube Watch S42 Date Steel With Black Case">
          Tube Watch S42 Date Steel With Black Case
        </p>
        <span class="catalog__item-price">€395</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-1.png 2x"
            src="./img/catalog/image-1.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Avondale Watch Police For Men">Avondale Watch Police For Men</p>
        <span class="catalog__item-price">€800</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-2.png 2x"
            src="./img/catalog/image-2.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Diver 300M Co‑Axial Master Chronometer Chronograph">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <span class="catalog__item-price">€600</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-3.png 2x"
            src="./img/catalog/image-3.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Diver 300M Co-Axial Master Chronometer">Diver 300M Co-Axial Master Chronometer</p>
        <span class="catalog__item-price">€1400</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-4.png 2x"
            src="./img/catalog/image-4.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Taman Watch By Police For Men">Taman Watch By Police For Men</p>
        <span class="catalog__item-price">€500</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-5.png 2x"
            src="./img/catalog/image-5.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Malawi Watch Police For Men">Malawi Watch Police For Men</p>
        <span class="catalog__item-price">€555</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-6.png 2x"
            src="./img/catalog/image-6.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Diver 300M Co-Axial Master Chronometer">Diver 300M Co-Axial Master Chronometer</p>
        <span class="catalog__item-price">€1200</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-7.png 2x"
            src="./img/catalog/image-7.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Greenlane Watch By Police For Men">Greenlane Watch By Police For Men</p>
        <span class="catalog__item-price">€1000</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-8.png 2x"
            src="./img/catalog/image-8.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Squardrc 5402 Chrono">Squardrc 5402 Chrono</p>
        <span class="catalog__item-price">€359</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-9.png 2x"
            src="./img/catalog/image-9.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Diver 300M Co‑Axial Master Chronometer Chronograph">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </p>
        <span class="catalog__item-price">€400</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-10.png 2x"
            src="./img/catalog/image-10.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Citizen">Citizen</p>
        <span class="catalog__item-price">€519</span>
      </li>
      <li class="catalog__item">
        <svg class="catalog__like-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-heart"></use>
        </svg>
        <div class="catalog__overlay">
          <img
            srcset="./img/catalog/image@2x-11.png 2x"
            src="./img/catalog/image-11.png"
            alt="watch"
            width="276"
          />
          <div class="catalog__item-info">
            <ul class="catalog__info-box">
              <li class="catalog__info-item">
                <b class="catalog__info-title">Description</b>
                <p class="catalog__info-text">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </li>
              <li class="catalog__info-item">
                <b class="catalog__info-title">DETAILS & FEATUREStion</b>
                <p class="catalog__info-text">
                  Gender: man<br />
                  Size: 46x54.5mm<br />
                  Case Colour: Steel<br />
                  Band Material: Metal<br />
                  Case Material: Metal<br />
                  Features: Multifunction<br />
                  Water Resistant: 5 (ATM)<br />
                  Band Colour: Steel
                </p>
              </li>
            </ul>
          </div>
          <svg class="catalog__info-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-info"></use>
          </svg>
        </div>
        <p class="catalog__item-text" title="Armani Exchange">Armani Exchange</p>
        <span class="catalog__item-price">€400</span>
      </li>
    </ul>
    <button class="catalog__btn js-open-modal push-button" type="button" data-modal="1" aria-label="Buy now">
      Buy now
    </button>
  </div>
</section>
