<!-- ------//-----Hero Section-----//------  -->
<section class="section-hero">
<div class="container">

<h1 class="hero-title">Welcome to our collection of premium watches</h1>
<div class="swiper-frame">
<div class="swiper mySwiper">
<div class="swiper-wrapper">

    <div class="swiper-slide">
        <img src="../img/slider/mob/watch-1-mob.png" alt="watch#1">
    </div>
    <div class="swiper-slide">
        <img src="../img/slider/mob/watch-2-mob.png" alt="watch#2">
    </div>
    <div class="swiper-slide">
        <img src="../img/slider/mob/watch-3-mob.png" alt="watch#3">
    </div>
    <div class="swiper-slide">
        <img src="../img/slider/mob/watch-4-mob.png" alt="watch#4">
    </div>
    <div class="swiper-slide">
        <img src="../img/slider/mob/watch-5-mob.png" alt="watch#5">
    </div>
</div>
</div>
</div>

<div class="swiper-buttons">
    <div class="previous-button"></div>
    <div class="next-button"></div>
</div>

</section>