<section class="section-hero section">
  <div class="container">
    <div class="container-section-hero">
      <h1 class="hero-title animate__fadeInDown animate__animated">
        Welcome to our collection of premium watches
      </h1>

      <div class="swiper-section-slider animate__animated animate__fadeInLeft">
        <div class="swiper-frame">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/hero/slider/mob/watch-1-mob.jpg    1x,
                      ./img/hero/slider/mob/watch-1-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />

                  <source
                    srcset="
                      ./img/hero/slider/tab-pc/watch-1-tab-pc.jpg    1x,
                      ./img/hero/slider/tab-pc/watch-1-tab-pc-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./img/hero/slider/mob/watch-1-mob.jpg"
                    alt="watch#1"
                    srcset="./img/hero/slider/mob/watch-1-mob-2x.jpg 2x"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/hero/slider/mob/watch-2-mob.jpg    1x,
                      ./img/hero/slider/mob/watch-2-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />

                  <source
                    srcset="
                      ./img/hero/slider/tab-pc/watch-2-tab-pc.jpg    1x,
                      ./img/hero/slider/tab-pc/watch-2-tab-pc-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./img/hero/slider/mob/watch-2-mob.jpg"
                    alt="watch#2"
                    srcset="./img/hero/slider/mob/watch-2-mob-2x.jpg 2x"
                  />
                </picture>
              </div>
              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/hero/slider/mob/watch-3-mob.jpg    1x,
                      ./img/hero/slider/mob/watch-3-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />

                  <source
                    srcset="
                      ./img/hero/slider/tab-pc/watch-3-tab-pc.jpg    1x,
                      ./img/hero/slider/tab-pc/watch-3-tab-pc-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./img/hero/slider/mob/watch-3-mob.jpg"
                    alt="watch#3"
                    srcset="./img/hero/slider/mob/watch-3-mob-2x.jpg 2x"
                  />
                </picture>
              </div>

              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/hero/slider/mob/watch-4-mob.jpg    1x,
                      ./img/hero/slider/mob/watch-4-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />

                  <source
                    srcset="
                      ./img/hero/slider/tab-pc/watch-4-tab-pc.jpg    1x,
                      ./img/hero/slider/tab-pc/watch-4-tab-pc-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./img/hero/slider/mob/watch-4-mob.jpg"
                    alt="watch#4"
                    srcset="./img/hero/slider/mob/watch-4-mob-2x.jpg 2x"
                  />
                </picture>
              </div>

              <div class="swiper-slide">
                <picture>
                  <source
                    srcset="
                      ./img/hero/slider/mob/watch-5-mob.jpg    1x,
                      ./img/hero/slider/mob/watch-5-mob-2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />

                  <source
                    srcset="
                      ./img/hero/slider/tab-pc/watch-5-tab-pc.jpg    1x,
                      ./img/hero/slider/tab-pc/watch-5-tab-pc-2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <img
                    src="./img/hero/slider/mob/watch-5-mob.jpg"
                    alt="watch#5"
                    srcset="./img/hero/slider/mob/watch-5-mob-2x.jpg 2x"
                  />
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-btn-and-numeros">
          <div class="swiper-buttons">
            <div class="previous-button push-button">
              <svg class="previous-btn-svg">
                <use
                  href="./img/hero/slider/btn-img/sprite-btn-slider.svg#icon-btn-left-svg"
                ></use>
              </svg>
            </div>
            <div class="next-button push-button">
              <svg class="next-btn-svg">
                <use
                  href="./img/hero/slider/btn-img/sprite-btn-slider.svg#icon-btn-right-svg"
                ></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-pagination pagination-style"></div>
      </div>

      <p class="hero-text animate__animated animate__fadeInRight">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <picture class="hero-watch-hand animate__animated animate__fadeInUp">
        <source
          srcset="
            ./img/hero/watch-on-hand.jpg    1x,
            ./img/hero/watch-on-hand-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./img/hero/watch-on-hand-tablet.jpg    1x,
            ./img/hero/watch-on-hand-tablet-2x.jpg 2x
          "
          media="(max-width: 1279px)"
        />

        <source
          srcset="
            ./img/hero/watch-on-hand-pc.jpg    1x,
            ./img/hero/watch-on-hand-pc-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />

        <img
         src="./img/hero/watch-on-hand.jpg"
          alt="watch on hand"
          srcset="./img/hero/watch-on-hand-2x.jpg 2x"
        />
      </picture>
    </div>
  </div>
</section>
