<div class="modal" data-modal="1">
  <button class="modal__cross js-modal-close" type="button">
    <svg class="modal__cross-svg">
      <use href="./img/icons.svg#icon-close-x"></use>
    </svg>
  </button>
  <div class="modal-card">
    <img
      class="modal-card-image"
      srcset="./img/modal/modal-watch@2x.png 2x"
      src="./img/modal/modal-watch.png"
      width="276"
      height="325"
      alt="hand-watch-steel-with-black"
    />
    <h2 class="modal-card-title">
      Tube Watch S42 Date Steel With Black Case 95
    </h2>
    <p class="modal-card-text">&euro;395</p>
  </div>

  <form class="modal__form">
    <div class="modal__top">
      <div class="form-field">
        <label class="modal__form-label" for="user-name">Full name</label
        ><input
          class="modal__form-imput"
          id="user-name"
          type="text"
          placeholder="Enter your full name"
          required
        />
      </div>
      <div class="form-field">
        <label class="modal__form-label" for="user-email">Email</label>
        <input
          class="modal__form-imput"
          type="email"
          id="user-email"
          placeholder="Enter your email"
          required
        />
      </div>
      <div class="form-field">
        <label class="modal__form-label">Card number</label
        ><input
          class="modal__form-imput"
          type="tel"
          required
          placeholder="Enter card"
          pattern="[0-9]{16}"
          maxlength="16"
          title="Card number should be 16 digits"
        />
      </div>
      <div class="form-field">
        <label for="textarea" class="modal__form-label">Comments</label
        ><textarea
          class="modal-textarea modal__form-imput"
          name="comment"
          id="textarea"
          placeholder="Text input"
        ></textarea>
      </div>
    </div>
    <div class="modal__bottom">
      <button class="push-button modal__send-button button" type="submit">
        submit
      </button>
      <p class="policy-text">
        By clicking on &ldquo;Submit&rdquo; button, you agree to our
        <a class="policy link">Privacy Policy</a>, and allow Promodo to use this
        information for marketing purposes.
      </p>
    </div>
  </form>
</div>

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>
