<section class="sale section">
  <div class="sale container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-box">
      <ul class="sale-list list">
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale/image-1.jpg 1x, ./img/sale/image-1-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 375px)" />
            <img src="./img/sale/image-1.jpg" alt="watch" />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale/image-2.jpg 1x, ./img/sale/image-2-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 375px)" />
            <img src="./img/sale/image-2.jpg" alt="watch" />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale/image-3.jpg 1x, ./img/sale/image-3-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 375px)" />
            <img src="./img/sale/image-3.jpg" alt="watch" />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              srcset="./img/sale/image-4.jpg 1x, ./img/sale/image-4-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source srcset="" media="(min-width: 768px)" />
            <source srcset="" media="(min-width: 375px)" />
            <img src="./img/sale/image-4.jpg" alt="watch" />
          </picture>
        </li>
      </ul>
      <picture>
        <source
          srcset="./img/sale/image-5.jpg 1x, ./img/sale/image-5-2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source srcset="" media="(min-width: 768px)" />
        <source srcset="" media="(min-width: 375px)" />
        <img src="./img/sale/image-5.jpg" alt="watch" />
      </picture>
    </div>
    <div class="proposition">
      <h2 class="proposition-title">Greenlane Watch By Police For MenHT</h2>
      <p class="proposition-text-t">Product tag: PEWJK2227003</p>
      <p class="sale-text">€700</p>
      <p class="proposition-text">€1000</p>
    </div>
    <div class="information">
      <h3 class="information-title">Description</h3>
      <p class="information-text">
        Richly detailed with an understated design - the Police Men’s Greenlane
        watch features a versatile multifunction design that fits effortlessly
        into work and play. The steel case is adorned with a semi-transparent
        black dial. The timepiece exhibits a contrast through a black IP
        bracelet with matching crown and pushers.
      </p>
    </div>
    <div class="characteristic">
      <h3 class="characteristic-title">DETAILS & FEATURESTION</h3>
      <ul class="characteristic-list list">
        <li class="characteristic-item">Gender: man</li>
        <li class="characteristic-item">Size: 46x54.5mm</li>
        <li class="characteristic-item">Case Colour: Steel</li>
        <li class="characteristic-item">Band Material: Metal</li>
        <li class="characteristic-item">Case Material: Metal</li>
        <li class="characteristic-item">Features: Multifunction</li>
        <li class="characteristic-item">Water Resistant: 5 (ATM)</li>
        <li class="characteristic-item">Band Colour: Steel</li>
      </ul>
    </div>
  </div>
</section>
