<section class="sale section" id="sale">
  <div class="sale__wrap container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale__content-box">
      <div class="sale-box">
        <ul class="sale-list list">
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/m-image1.jpg    1x,
                  ./img/sale/m-image1@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="80"
              />
              <source
                srcset="./img/sale/image1.jpg 1x, ./img/sale/image1@2x.jpg 2x"
                media="(min-width: 768px)"
                width="146"
              />
              <img
                srcset="./img/sale/image1@2x.jpg 2x"
                src="./img/sale/image1.jpg"
                alt="watch"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/m-image2.jpg    1x,
                  ./img/sale/m-image2@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="80"
              />
              <source
                srcset="./img/sale/image2.jpg 1x, ./img/sale/image2@2x.jpg 2x"
                media="(min-width: 768px)"
                width="146"
              />
              <img
                srcset="./img/sale/image2@2x.jpg 2x"
                src="./img/sale/image2.jpg"
                alt="watch"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/m-image3.jpg    1x,
                  ./img/sale/m-image3@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="80"
              />
              <source
                srcset="./img/sale/image3.jpg 1x, ./img/sale/image3@2x.jpg 2x"
                media="(min-width: 768px)"
                width="146"
              />
              <img
                srcset="./img/sale/image3@2x.jpg 2x"
                src="./img/sale/image3.jpg"
                alt="watch"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale/m-image4.jpg    1x,
                  ./img/sale/m-image4@2x.jpg 2x
                "
                media="(max-width: 767px)"
                width="80"
              />
              <source
                srcset="./img/sale/image4.jpg 1x, ./img/sale/image4@2x.jpg 2x"
                media="(min-width: 768px)"
                width="146"
              />
              <img
                srcset="./img/sale/i4"
                src="./img/sale/image4.jpg"
                alt="watch"
              />
            </picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/sale/m-image0.jpg 1x, ./img/sale/m-image0@2x.jpg 2x"
            media="(max-width: 767px)"
            width="235"
          />
          <source
            srcset="./img/sale/image0.jpg 1x, ./img/sale/image0@2x.jpg 2x"
            media="(min-width: 768px)"
            width="406"
          />
          <img
            srcset="./img/sale/image0@2x.jpg 2x"
            src="./img/sale/image0.jpg"
            alt="watch"
          />
        </picture>
      </div>
      <div class="sale__proposition">
        <h3 class="proposition__title">Greenlane Watch By Police For MenHT</h3>
        <p class="proposition__text">Product tag: PEWJK2227003</p>
        <span class="proposition__price">€700</span>
        <span class="proposition__prev-price">€1000</span>
        <ul class="sale__info-list">
          <li class="sale__info-detailed">
            <h4 class="sale__info-title">Description</h4>
            <button class="sale__info-btn btn-close hidden" aria-label="close details">
              <svg class="sale__info-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-minus"></use>
              </svg>
            </button>
            <button class="sale__info-btn btn-open" aria-label="open details">
              <svg class="sale__info-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-plus"></use>
              </svg>
            </button>
            <p class="sale__info-text hidden">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
          </li>
          <li class="sale__info-detailed">
            <h4 class="sale__info-title">DETAILS & FEATURESTION</h4>
            <button class="sale__info-btn btn-close hidden" aria-label="close details">
              <svg class="sale__info-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-minus"></use>
              </svg>
            </button>
            <button class="sale__info-btn btn-open" aria-label="open details">
              <svg class="sale__info-icon" width="16" height="16">
                <use href="./img/icons.svg#icon-plus"></use>
              </svg>
            </button>
            <ul class="sale__info-text hidden list">
              <li class="sale__info-item">Gender: man</li>
              <li class="sale__info-item">Size: 46x54.5mm</li>
              <li class="sale__info-item">Case Colour: Steel</li>
              <li class="sale__info-item">Band Material: Metal</li>
              <li class="sale__info-item">Case Material: Metal</li>
              <li class="sale__info-item">Features: Multifunction</li>
              <li class="sale__info-item">Water Resistant: 5 (ATM)</li>
              <li class="sale__info-item">Bandi ed: Steel</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
