.about__box-gif {
  width: 335px;
  height: 365px;

  background-image: url('../img/about/watchspot.gif');
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .about__box-gif {
    width: 704px;
    height: 465px;
  }
}
@media screen and (min-width: 1280px) {
  .about__box-gif {
    width: 892px;
    height: 500px;
  }
}
