/* -----basic styles */

.catalog {
    --transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.catalog__title {
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--dark-green);
}

.catalog__item {
    position: relative;
}

.catalog__like-icon {
    position: absolute;
    top: 14px;
    right: 14px;

    fill: none;
    stroke: rgba(20, 20, 20, 0.1);

    transition: fill var(--transition);
}

.catalog__like-icon.like-active {
    fill: #1e2827;
}

.catalog__overlay {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 14px;

}

.catalog__overlay img {
    user-select: none;
}

.catalog__item-info {
    position: absolute;
    top: 0;

    background: var(--dark-green);
    border-radius: 8px;

    opacity: 0;
    pointer-events: none;

    transform: scale(0.1);
    transition: transform var(--transition) 50ms, opacity var(--transition);
}

.catalog__item-info.visible {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
}

.catalog__info-item:first-child {
    margin-bottom: 20px;
}

.catalog__info-box {
    pointer-events: none;
}

.catalog__info-title {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.02em;
    color: var(--white);
    text-transform: uppercase;

    margin-bottom: 10px;
}

.catalog__info-text {
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
}

.catalog__info-icon {
    position: absolute;
    bottom: 14px;
    left: 14px;
    z-index: 3;

    cursor: pointer;

    fill: rgba(20, 20, 20, 0.3);
}

.catalog__info-icon.info-active {
    fill: rgba(255, 255, 255, 0.3);
}

.catalog__item-text {
    width: 276px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: var(--black-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    margin-bottom: 4px;
}

.catalog__item-text:hover {
    overflow: visible;
}

.catalog__item-price {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
}

.catalog__btn {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--white);

    margin-left: auto;

    text-transform: uppercase;
    background: var(--dark-green);
    border: none;
    border-radius: 8px;
}

/* -----mobile styles */

@media screen and (max-width: 767px) {
    .catalog__title {
        font-size: 32px;
        line-height: calc(40 / 32);

        margin-bottom: 40px;
    }

    .catalog__menu {
        margin-bottom: 40px;
    }

    .catalog__item:nth-child(n + 9) {
        display: none;
    }

    .catalog__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .catalog__overlay {
        width: 100%;
        height: 360px;
    }

    .catalog__item-info {
        width: 100%;
        max-width: 336px;
        height: 360px;

        padding: 40px 60px 40px 40px;
    }

    .catalog__btn {
        padding: 14px 28px;
    }
}

/* -----=>tablet styles */

@media screen and (min-width: 768px) {
    .catalog__title {
        font-size: 40px;
        line-height: calc(44 / 40);

        margin-bottom: 40px;
    }

    .catalog__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 32px;

        margin-bottom: 40px;
    }

    .catalog__item {
        flex-basis: calc((100% - 64px) / 2);
    }

    .catalog__overlay {
        width: 336px;
        height: 360px;
    }

    .catalog__item-info {
        width: 336px;
        height: 360px;

        padding: 40px 60px 40px 40px;
    }

    .catalog__btn {
        padding: 18px 35px;
    }
}

/* -----desktop styles */

@media screen and (min-width: 1280px) {
    .catalog__title {
        margin-bottom: 64px;
    }

    .catalog__menu {
        gap: 64px 24px;

        margin-bottom: 80px;
    }

    .catalog__item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .catalog__overlay {
        width: 276px;
        height: 325px;
    }

    .catalog__item-info {
        width: 276px;
        height: 325px;

        padding: 20px;
    }
}