p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* --------------- FOOTER ------------- */

.footer {
  background-color: #1e2827;
  /* padding: 40px 20px 20px; */
  padding: 40px 0px 20px;
  display: flex;
}

.footer-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

/*  */
.logo-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-bottom: 40px;
}

.footer-logo-icon {
  width: 40px;
  height: 40px;
  fill: #ffffff;
  /* stroke #ffffff; */
  /* margin-bottom: 20px; */
  outline: 1px solid tomato;
}

.footer-phon {
  display: block;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: #ffffff;
  width: 140px;
  height: 54px;
  margin-bottom: 40px;
}

.footer-menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  text-transform: uppercase;
  color: #ffffff;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: flex-start;
  /* justify-content: center; */
  margin-bottom: 80px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #c6cdd1;
  transition: border 250ms linear, fill 250ms linear;
}

.footer-soc-icon {
  width: 24px;
  height: 24px;
  /* fill: #f4f4fd; */
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  fill: #ffffff;
  border: 1px solid rgba(255, 255, 255, 1);
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #c6cdd1;
}

.footer-copyrigth {
  margin-bottom: 14px;
}

/* ================ ====================  */
@media screen and (min-width: 375px) {
  .footer-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
  }

  .footer-logo-icon {
    width: 50px;
    height: 50px;
  }

  .logo-menu-soc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo-adress {
    margin-right: 136px;
  }

  .footer-phon {
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  .footer-address {
    width: 182px;
    font-size: 18px;
    line-height: calc(24 / 18);
    margin-bottom: 152px;
  }

  .footer-menu-link {
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  .footer-soc-item {
    width: 44px;
    height: 44px;
  }

  .footer-soc-icon {
    width: 28px;
    height: 28px;
  }

  .footer-menu-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .footer-bottom-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(18 / 14);
    color: #c6cdd1;
  }

  .footer-copyrigth {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    width: 1280px;
  }
  .logo-adress {
    margin-right: 350px;
  }
}
