.header {
  position: relative;
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #141414;
  min-width: 320px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo,
.header-logo-mobile {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;

  color: #ffffff;
}
.header-logo {
  align-items: end;
}

.header-logo-mobile {
  align-items: center;
}

.header-logo img {
  width: 14px;
  height: 14px;
  transition: 700ms;
}

.header-item {
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #ffffff;
}

.header-item-link {
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-item-thumb {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  transform: scale(1);
  transition-duration: 250ms;
}

.header-item-thumb:hover,
.header-item-thumb:active {
  transform: scale(1.4);
}

.header-number {
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #1e2827;
  padding: 18px 36px 18px 35px;
  border-radius: 8px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #ffffff;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 29px 20px;
  background-color: #1e2827;
  transform: translateX(-100%);

  transition: transform 300ms linear;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
}

.close-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  stroke: #ffffff;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 200px;
}

.mobile-menu-item {
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }

  .header-number {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-logo {
    font-size: 15px;
    line-height: 1;
  }

  .header-logo img {
    width: 19px;
    height: 19px;
  }

  .menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-number {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding: 0 12px;
  }

  .header-logo img {
    transition: 700ms;
  }

  .header-logo:hover img {
    transform: rotate(360deg);
    transition: 700ms;
  }
}

/* hover effect */

.header-item a {
  position: relative;
}

.header-item a:hover {
  color: #fbfbfb;
}

.header-item a::after,
.header-item a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 1.5px;
  background-color: #fbfbfb;
  transition: 250ms;
}

.header-item a::after {
  left: -20%;
  bottom: 2px;
}

.header-item a::before {
  right: -20%;
  top: 0px;
}
.header-item a:hover::after,
.header-item a:hover::before {
  width: 140%;
}

/* !--------!!--------!!--------!button!--------!!--------!!--------! */

.btn-cont .btn {
  position: relative;
}
.btn-cont .btn:hover {
  border: none;
}
.btn-cont .btn:hover .line-1 {
  animation: move1 1500ms infinite ease;
}
.btn-cont .btn:hover .line-2 {
  animation: move2 1500ms infinite ease;
}
.btn-cont .btn:hover .line-3 {
  animation: move3 1500ms infinite ease;
}
.btn-cont .btn:hover .line-4 {
  animation: move4 1500ms infinite ease;
}
.btn-cont .line-1 {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  background-color: var(--white);
  left: 0;
  bottom: 0;
}
.btn-cont .line-2 {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--white);
  left: 0;
  top: 0;
}
.btn-cont .line-3 {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  background-color: var(--white);
  right: 0;
  top: 0;
}
.btn-cont .line-4 {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background-color: var(--white);
  right: 0;
  bottom: 0;
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
