.header {
  position: relative;
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: #141414;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: end;
  flex-direction: row;
  gap: 4px;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.header-logo img {
  width: 14px;
  height: 14px;
}

.header-item {
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #ffffff;
}

.header-number {
  font-size: 9px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #ffffff;
  background-color: #1e2827;
  padding: 18px 36px 18px 35px;
  border-radius: 8px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #ffffff;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 29px 20px;
  background-color: #1e2827;
  transform: translateX(-100%);

  transition: transform 300ms linear;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
}

.close-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  stroke: #ffffff;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 200px;
}

.mobile-menu-item {
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }

  .header-number {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-logo {
    font-size: 15px;
    line-height: 1;
  }

  .header-logo img {
    width: 19px;
    height: 19px;
  }

  .menu-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-navigation {
    display: flex;
    align-items: center;
    gap: 80px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding: 0 12px;
  }
}
