
    h1 {
    padding: 0; margin: 0;
}

.section-hero {
background-color: #141414;
padding: 69px 0 40px 0;
}

.hero-title {
width: 335px;
font-family: 'Epilogue';
font-weight: 600;
font-size: 38px;
line-height: 1.052;
letter-spacing: -0.04em;
color: #FFFFFF;
margin-bottom: 60px;
}
img {padding: 0; margin: auto;

}

.swiper-frame {
  width: 266px;
}

.swiper {
    width: 266px;
    margin: 0; padding: 0;
    background-color: #1E2827;
}

.swiper-buttons {
}
.previous-button, .next-button {
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
border-radius: 8px;
}
