/* !-------!-------!-------!------MODAL-BACKdrop-!-------!-------!-------!-------!-------!-------!-------!-------!-------!-------!-------!------- */

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 40, 39, 0.96);
  z-index: 20;
  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 40px;
  opacity: 0;
  visibility: hidden;

  width: 100%;
  max-width: 335px;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 40px 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  background: var(--white);
  box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05),
    0px 0px 130.6px rgba(0, 0, 0, 0.037963),
    0px 0px 71.0296px rgba(0, 0, 0, 0.0303704),
    0px 0px 36.2375px rgba(0, 0, 0, 0.025),
    0px 0px 18.1704px rgba(0, 0, 0, 0.0196296),
    0px 0px 8.77546px rgba(0, 0, 0, 0.012037);

  transition: 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 0;
  width: 20px;
  height: 20px;

  stroke: var(--black-color);
  border: none;
  background: none;
  cursor: pointer;
}
.modal__cross-svg {
  width: 100%;
  height: 100%;
}

.modal-card {
  max-width: 276px;
  margin: 0 auto;
}
.modal-card-image {
  margin: 0 auto;
}
.modal-card-title {
  width: 255px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
  margin-top: 14px;
  margin-bottom: 4px;
}

.modal-card-title:hover {
  white-space: normal;
  overflow: visible;
}

.modal-card-text {
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}
.modal__form {
  width: 100%;
}
.modal__top {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modal__form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.modal__form-imput {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
}

/* .modal__form-imput:invalid {
  border: 2px solid red;
} */
/* .modal__form-imput::placeholder {
} */
.modal__form-imput:not(:focus):not(:placeholder-shown):invalid {
  border: 2px solid red;
}

.modal-textarea {
  height: 120px;
  resize: none;
}

.modal__send-button {
  display: inline-block;
  margin-bottom: 12px;
  padding: 18px auto;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background: var(--dark-green);
  border-color: transparent;
  border-radius: 8px;
}

.modal__send-button:hover,
.modal__send-button:focus {
  border: 1px solid #ffffff;
}
.policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.4);
}
.policy {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .modal {
    flex-direction: row;
    gap: 20px;
    max-width: 744px;
    padding: 40px;
  }
  .modal__cross {
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
  }
  .modal__form {
    width: 368px;
  }
}

@media screen and (min-width: 1280px) {
  .ovarlay {
    padding-top: 0;
  }
  .modal {
    max-width: 944px;
    gap: 40px;
    /* top: 50%;
    transform: translate(-50%, -50%); */
    border-radius: 8px;
  }
  .modal__form {
    width: 508px;
  }
  .modal__top {
    gap: 24px;
    margin-bottom: 40px;
  }
}
